# Copy this file (or any of the machine specific Make.local.machines
# files) to Make.local and edit to suit your local configuration

# identifier for this local
LOCAL = your_machine_name_here

#Architecture 
ARCH =  pick_one_from_the_ARCH_directory

# make sure PHYSICS and SOLVER are absolute path names, for example
# specify the location of a full svn tree if you have one, like this:
PPN = /directory/path/to/your/physics/and/solver/location

# you don't need to change the following two but you can
PHYSICS = $(PPN)/physics/phys08
SOLVER = $(PPN)/solver/NFR

# where is the se library?
SEHOME = /here/is/your/se

# where is mpi?
MPIHOME = /here/is/your/openmpi

